<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.healthy">

    <application
        android:name="com.healthy.bites.MainApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_plate"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_plate"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.healthy.bites.splashscreen.SplashActivity" android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>